/* Default SteamPress by Dave Shea || http://mezzoblue.com
	Modifications by Matthew Mullenweg || http://photomatt.net
	This is just a basic layout, with only the bare minimum defined.
	Please tweak this and make it your own. :)
*/

a {
	color: #675;
}

a img {
	border: none;
}

a:visited {
	color: #342;
}

a:hover {
	color: #9a8;
}

acronym, abbr {
	border-bottom: 1px dashed #333;
}

acronym, abbr, span.caps {
	font-size: 90%;
	letter-spacing: .07em;
}

acronym, abbr {
	cursor: help;
}

blockquote {
	border-left: 5px solid #ccc;
	margin-left: 1.5em;
	padding-left: 5px;
}

body {
	background: #fff;
	color: #000;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

cite {
	font-size: 90%;
	font-style: normal;
}

h2 {
	border-bottom: 1px dotted #ccc;
	font: 95% serif;
	letter-spacing: 0.2em;
	margin: 15px 0 2px 0;
	padding-bottom: 2px;
}

h3 {
	border-bottom: dotted 1px #eee;
	font-family: serif;
	margin-top: 0;
}

ol#comments li p {
	font-size: 100%;
}

p, li, .feedback {
	font: 90%/175% sans-serif;
	letter-spacing: -1px;
}

/* classes used by the_meta() */
ul.post-meta {
	list-style: none;
}

ul.post-meta span.post-meta-key {
	font-weight: bold;
}

.credit {
	background: #999;
	border-top: single 2px #000;
	color: #fff;
	font-size: 11px;
	margin: 10px 0 0 0;
	padding: 3px;
	text-align: center;
	clear: both;
}

.credit a, .credit a:link, .credit a:hover {

	color: #fff;
	text-decoration: none;
}

.feedback {
	color: #ccc;
	text-align: right;
	clear: both;
}

.meta {
	font-size: .75em;
}

.meta li, ul.post-meta li {
	display: inline;
}

.meta ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.meta, .meta a {
	color: #808080;
	font-weight: normal;
	letter-spacing: 0;
}

.storytitle {
	margin: 0;
}

.storytitle a {
	text-decoration: none;
}

#commentform #name, #commentform #email, #commentform #url, #commentform textarea {
	background: #fff;
	border: 1px solid #333;
	padding: .2em;
}

#commentform textarea {
	width: 100%;
}

#commentlist li ul {
	border-left: 1px solid #ddd;
	font-size: 110%;
	list-style-type: none;
}

#content {
	margin: 30px 13em 0 3em;
	padding-right: 60px;
}

#header {
	background: #999;
	font: italic normal 1.5em serif;
	letter-spacing: 0.2em;
	margin: 0;
	padding: 5px 10px 5px 60px;
}

#header a {
	color: #fff;
	text-decoration: none;
}

#header a:hover {
	text-decoration: none;
}

#menu {
	background: #fff;
	padding: 20px 0 10px 30px;
	position: absolute;
	right: 0;
	top: 4em;
	width: 11em;
}

#menu form {
	margin: 0 0 0 13px;
}

#menu input {
	width: 80%;
	background: #eee;
	border: 1px solid #999;
	color: #000;
}

#menu dl {
margin: 4px;
padding: 2px;
}

#menu dl dt {
	color: #777;
	font-weight: bold;
	margin: 0;
	text-transform: lowercase;
	margin-bottom: 7px;
	margin-top: 4px;
}

#menu dl dd {
	font: italic normal 75% serif;
	letter-spacing: 0.1em;
	padding-bottom: 2px; /*border-bottom: dotted 1px #ccc;*/
	margin-left: 4px;
}

#menu dl dd ul, #menu dl dd ul ul {
	margin: 0;
	padding: 0;
}

#menu dl dd ul li{
	font: italic normal 100% serif;
	letter-spacing: 0.1em;
	padding-bottom: 2px; /*border-bottom: dotted 1px #ccc;*/
	margin-left: 7px;
	list-style-type: none;
}

#menu dl dd ul ul li {
	font: italic normal 100% serif;
	letter-spacing: 0.1em;
	padding-bottom: 2px; /*border-bottom: dotted 1px #ccc;*/
	margin-left: 7px;
	list-style-type: none;
}

#sp-calendar {
	border: 1px solid #ddd;
	empty-cells: show;
	font-size: 14px;
	margin: 7px 0 0 0;
	width: 90%;
}

#sp-calendar caption {
	font: italic normal 12px sans-serif;
	color: #777;
	font-weight: bold;
	margin: 0;
	text-transform: lowercase;
}

#sp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}

#sp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#sp-calendar a {
	display: block;
	text-decoration: none;
}

#sp-calendar a:hover {
	background: #e0e6e0;
	color: #333;
}

#sp-calendar caption {
	color: #999;
	font-size: 16px;
	text-align: left;
}

#sp-calendar td {
	color: #ccc;
	font: normal 12px sans-serif;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
}

#sp-calendar td.pad:hover {
	background: #fff;
}

#sp-calendar td:hover, #sp-calendar #today {
	background: #eee;
	color: #bbb;
}

#sp-calendar th {
	font-style: normal;
	text-transform: capitalize;
}
