* html #poststuff {
	height: 100%; /* kill peekaboo bug in IE */
}

a:link, a:visited {
	color: #060;
}

a.delete:hover {
	background: #c00;
	color: #fff;
}

a.edit, a.delete, a.edit:hover, a.delete:hover {
	border-bottom: none;
	display: block;
	padding: 5px 0;
	text-align: center;
}

a.edit:hover {
	background: #ccc;
	color: #036;
}

a:visited {
}

a:hover {
	color: #fff;
	background: #060;
}

body {
	background: #fff;
	color: #000;
	margin: 0 auto;
	padding: 0;
	width: 760px;
}

body, td {
	font: 11px/17px sans-serif;
}

fieldset {
	border: none;
	padding: 2px;
}

fieldset label.selectit {
	background: #f0f0f0;
	display: block;
	font-size: 11px;
	padding: 0 2px;
}

fieldset label.selectit:hover {
	background: #dadada;
}

fieldset legend {
	padding: 2px 0;
	font-size: 12px;
	font-weight: bold;
}

fieldset legend a {
	border-bottom: none;
	text-decoration: none;
}

fieldset span.cat-nest {
	display: block;
	margin-left: 10px;
}

fieldset.options {
	padding: 1em;
}

fieldset.options legend {
	font-size: 16px;
}

form, label input {
	margin: 0;
	padding: 0;
}

h2 {
	border-bottom: 2px solid #060;
	color: #333;
	font: normal 22px/18px sans-serif normal;
	margin: 5px 10px;
}

h1 {
	font-family: sans-serif;
	font-size: medium;
	font-weight: bold;
	margin:0;
	padding:0;
}

input:focus, textarea:focus, label:focus {
}

label {
	cursor: pointer;
}

li, dd {
	margin-bottom: 6px;
}

p, dl, dd, dt {
	line-height: 130%;
}

textarea, input, select {
	color: #000;
    font-size: 100%;
	margin: 1px;
	padding: 3px;
}

.alternate {
	background: #eee;
}

.anchors {
	margin: 10px 20px 10px 20px;
}

.checkbox {
	background: #fff;
	border: none;
	margin: 0;
	padding: 0;
}

.code {
	font-family: mono;
}

.ed_button {
	padding: 1px;
}

.post-categories {
	display: inline;
	margin: 0;
	padding: 0;
}

.post-categories li, #ed_toolbar {
	display: inline;
}

.quicktags, .search {
	background: #ccc;
	color: #000;
}

.submit input, .submit input:focus {
}

.submit input:active {
}

.submit, #quicktags, .editform th, #postcustomsubmit {
}

.unapproved {
	color: #888;
}

.unapproved a:link {
	color: #b9bcff;
}

.unapproved a:visited {
	color: #696dff;
}

.unapproved a:hover {
	color: #009ef0;
}

.updated {
	background: #d9ffd9;
	border: 1px solid #060;
	margin: 1em 5% 10px;
	padding: 0 1em 0 1em;
}

.wrap {
	border: 1px solid #ccc;
	margin: 15px 5%;
	padding: .5em 1em;
	background: #f5f5f5;
}

.wrap h2 {
	margin: 6px 0;
}
#sitemenu {
	margin: 3px 0;
	padding: 0;
	text-align: right;
	width: 760px;
}
#sitemenu li {
	display: inline;
}
#sitemenu li a {
	background: #eee;
	border: 1px solid #ccc;
	border-top: none;
	padding: 5px 10px;
	font-weight: bold;
	text-decoration: none;
}
#sitemenu li a:hover {
	background: #060;
	color: #fff;
}
#adminmenu {
	border-bottom: 4px solid #060;
	margin: 10px 0 0 0;
	padding: 0;
	text-align: center;
	width: 760px;
}

#adminmenu .current {
	font-weight: bold;
	color: #fff;
	background: #060;
}

#adminmenu a {
	color: #060;
	margin: 0;
	padding: 5px 10px;
	text-decoration: none;
	background: #eee;
	border: 1px solid #ccc;
	border-bottom: none;
	font-weight: bold;
}

#adminmenu a:hover, .current {
	background: #060;
	color: #fff;
}

#adminmenu li, #adminmenu2 li {
	display: inline;
	line-height: 2.0em;
	list-style: none;
	text-align: center;
}

#adminmenu2 {
	background: #060;
	border-bottom: none;
	margin: 0;
	padding: 0;
	width: 760px;
}

#adminmenu2 .current {
	background: #fff;
	color: #060;
}

#adminmenu2 a {
	border: none;
	color: #fff;
	margin: 0;
	padding: 3px 5px;
	text-decoration: none;
}

#adminmenu2 a {
	font-size: 12px;
}

#adminmenu2 a:hover {
	background: #f0f0f0;
	color: #000;
}

#adminmenu2 li {
	line-height: 1.7em;
}

#categorydiv {
	margin: 0;
	float:right;
	width: 130px;
}

#categorydiv div {
	height: 21em;
	overflow: auto;
}

#categorydiv input, #poststatusdiv input, #commentstatusdiv input, #pingstatusdiv input {
	border: none;
}

#content, #excerpt {
	margin-left: 1%;
	width: 97%;
}

#ed_del {
	text-decoration: line-through;
}

#ed_em {
	font-style: italic;
}

#ed_strong {
	font-weight: bold;
}

#excerpt {
	height: 1.8em;
	width: 98%;
}

#footer {
	text-align: center;
}

#login {
	background: url(../sp-images/sp-small.png) #fff no-repeat top center;
	border: 2px solid #333;
	color: #333;
	height: 170px;
	left: 50%;
	margin-left: -120px; /* half of width and height */
	margin-top: -85px;
	padding: 40px 5px 5px 5px;
	position: absolute;
	text-align: right;
	top: 45%;
	width: 240px;
}

#login textarea, #login input, #login select {
	background: #f0f0f0;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	margin: 1px;
	padding: 2px;
}

#metainfo, #postdiv {
	clear:left;
	}

#postdiv {
margin-right:2em;
}

#postcustom {
	border: 1px solid #aaa;
	padding: .5em;
	width: 97%;
}

#postcustom .updatemeta, #postcustom .deletemeta {
	margin: auto;
	width: 5em;
}

#postcustom p {
	margin: 0;
}

#postcustom table {
	border: 1px solid #ccc;
	margin: .5em;
	width: 98%;
}

#postcustom table input, #postcustom table textarea {
	width: 95%;
}

#poststatusdiv {
	width: 6.5em;
}

#poststuff {
	margin-right: 0em;
}

#profile {
	margin: 10px;
}

#profile .left {
	border-right: 1px dashed #ccc;
	float: left;
	margin-right: 5px;
	padding-right: 5px;
}

#profile label {
	float: left;
	padding-right: 3px;
	text-align: right;
	width: 85px;
}

#profile p {
	margin: 0 0 4px 0;
}

#quicktags {
}

#save {
	width: 14em;
}

#titlediv {
	height: 5em;
    float:left;
}

#poststatusdiv, #commentstatusdiv, #slugdiv, #postpassworddiv, #namediv, #uridiv, #emaildiv {
	float: left;
	height: 7em;
	margin-right: 10px;
}

/*#poststatusdiv,*/ #slugdiv {
	clear: left;
}

#wphead {
	background: #fff;
	padding: 0;
	text-align: center;
}

#wphead a {
	border-bottom: none;
	display: block;
	height: 100px;
	text-decoration: none;
	text-indent: -1500px;
	width: 200px;
	background: transparent;
}

#wphead h1 {
	background: url(../sp-images/sp-logo.png) no-repeat center;
	height: 100px;
	margin: 0;
	text-align: center;
}

#wphead h1 span {
	font-size: .4em;
}

th
{
	font-size: 75%;
}

.linkcat tr th, .linkcat tr td
{
	font-size: 60%;
}